"appbuild"
{
    "appid" "REPLACE_WITH_STEAM_APP_ID"
    "desc" "Last Inkwarden 0.23.4-alpha Windows playtest"
    "buildoutput" "..\\build\\steam-output"
    "contentroot" "..\\build\\steam-depot"
    "setlive" ""
    "preview" "0"
    "local" ""
    "depots"
    {
        "REPLACE_WITH_WINDOWS_DEPOT_ID" "steam_depot_build.vdf.example"
    }
}
